<mat-card class="login-card">
  <div align="center" style="padding: 15px">
    <img src="http://netprise.in/images/netprise_logo.png" class="img-responsive" width="150" width="150">
  </div>
  <p style="text-align: center">Sign in to your account</p>
  <form #loginForm="ngForm">
    <div class="log-box">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="text" [(ngModel)]="loginData.email" name="email" placeholder="Email" email>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="loginData.password" name="password" placeholder="Password">
      </mat-form-field>
    </div>
    <p style="color: red; text-align: center" *ngIf="errorText">{{errorText}}</p>
    <div align="center" style="padding: 10px">
      <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid" (click)="login(loginData)"
        style="background: #195acb; width: 38%;">Login</button>
    </div>
  </form>
  <p class="sign-up" (click)="signUp()">SignUp</p>
</mat-card>
