<mat-card class="login-card">
  <div align="center" style="padding: 15px">
    <img src="http://netprise.in/images/netprise_logo.png" class="img-responsive" width="150" width="150">
  </div>
  <form #signUpForm="ngForm">
    <div class="log-box">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput type="text" [(ngModel)]="signUpData.firstName" name="firstName" placeholder="firstName" email>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" [(ngModel)]="signUpData.lastName" name="lastName" placeholder="lastName" email>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput type="text" [(ngModel)]="signUpData.email" name="email" placeholder="Email" email>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="signUpData.password" name="password" placeholder="Password">
      </mat-form-field>
    </div>
    <!-- <p style="color: red; text-align: center">{{message}}</p> -->
    <div align="center" style="padding: 10px">
      <button mat-raised-button color="accent" type="submit" [disabled]="!signUpForm.valid" (click)="signUp(signUpData)"
        style="background: #195acb; width: 38%;">SignUp</button>
    </div>
  </form>
  <p class="sign-up" (click)="login()">Login</p>
</mat-card>
