html {
  height: 100% !important;
}

.loginFun {
  position: absolute;
  left: 0;
  top: 0
}

html {
  height: 100%
}

.homePage {
  min-height: 100%;
  perspective: 400px
}

article,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
menu,
nav,
ol,
p,
section,
ul {
  margin: 0;
  border: 0 none #fff;
  padding: 0
}

.dark-bg {
  background-color: #3f4652;
  background-size: cover;
  background-position: 0 0;
  height: 100%
}

@media screen and (max-height: 700px) {
  .homePage {
    position: relative;
    min-height: 639px;
    overflow-y: hidden;
  }
}

.login-card {
  width: 67%;
  left: 18%;
  top: 15%;
  background: #fafafa;
  padding-top: 0 !important;
  border-radius: 10px;
  z-index: 10;
  position: absolute;
}

@media screen and (min-width: 800px) {
  .login-card {
    width: 28%;
    left: 37%;
    top: 16%;
    background: #fafafa;
    padding-top: 0 !important;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
  }
}

.log-box {
  padding: 25px 0 12px 0;
}

.login-mat {
  color: #9e9e9e;
}


.sign-up {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  color: blue;
}
