.nav-bar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  height: 65px;
}

.p-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
}

.logout {
  background: #195acb;
  width: 20%;
  float: right;
  margin-right: 11px;
  margin-top: 10px;
}

.notification {
  float: right;
  margin-top: 15px;
  margin-right: 19px;
  font-size: 30px;
}

.actions {
  float: right;
  margin-right: 19px;
  font-size: 30px;
}

.create {
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}

mat-icon {
  cursor: pointer;
}
