<nav class="navbar navbar-default nav-bar">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p class="p-text">Hi User</p>
    </div>
    <div class="col-md-4">
      <button mat-raised-button color="accent" type="submit" (click)="logOut()" class="logout">Logout</button>
    </div>
  </div>
</nav>
<div>
  <div>
    <div class=" row" style="margin: 10px; ">
      <div class="col-md-3" *ngFor="let item of [1, 2, 3,4, 5]">
        <mat-card style="height: 30vh;margin-top: 14px;">
          <mat-card-header>
            <mat-card-title>Laptop</mat-card-title>
          </mat-card-header>
          <hr style="margin: 0;margin-bottom: 17px;" />
          <mat-card-content>
            <p><b>Bids:</b> LapTop </p>
            <p><b>Offer:</b> 10 </p>
            <p><b>Finalize Offer:</b> 11 </p>
          </mat-card-content>
          <mat-card-actions>
            <div>
              <mat-icon class="pull-right" matBadgeColor="warn" class="actions">edit</mat-icon>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
